<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <div class="toggle btn menu-btn" target="NavBarList">
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="image-wrapper logo-wrapper">
                    <img src="../assets/logo.png" alt="">
                </div>
            </div>
            <div class="nav-list-wrapper" id="NavBarList">
                <ul class="nav-list list">
                    <li class="list-item nav-item"><a href="" class="nav-link">About TheRun</a></li>
                    <li class="list-item nav-item"><a href="" class="nav-link">Media</a></li>
                    <li class="list-item nav-item"><a href="" class="nav-link">Chibiverse</a></li>
                    <li class="list-item nav-item"><a href="" class="nav-link">Video</a></li>
                    <li class="list-item nav-item"><a href="" class="nav-link">Sports&Fitness </a></li>
                    <li class="list-item nav-item"><a href="" class="nav-link">Team</a></li>
                    <li class="list-item nav-item"><a href="" class="nav-link">Roadmap</a></li>
                </ul>
            </div>
            <div class="navbar-functions">
                <button class="btn sign-in-btn">
                    <span>Sign in</span>
                </button>
                <button class="btn lang-btn toggle" target="">
                    <span class="image-wrapper"><img src="../assets/lang-planet-icon.png" alt="NONE"></span>
                    <span class="image-wrapper"><img src="../assets/lang-toggle-icon.png" alt="NONE"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="section section-head">
       <div class="presentation">
            <h1 class="app-title text-important">Chibiverse!</h1>
            <div class="image-wrapper">
                <img src="../assets/three-guys.png" alt="">   
            </div>
            <div class="download-links">
                <h2 class="section-subtitle">Download now</h2>
                <ul class="list download-list">
                    <li class="list-item"><img src="../assets/download_links/app store.png" alt=""></li>
                    <li class="list-item"><img src="../assets/download_links/google play.png" alt=""></li>
                    <li class="list-item"><img src="../assets/download_links/app gallery.png" alt=""></li>    
                </ul>
            </div>
       </div>
        <div class="description">
            <div class="image-wrapper p-absolute"><img src="../assets/phones/main phones/ph2.png" alt=""></div>
            <div class="image-wrapper p-absolute"><img src="../assets/phones/main phones/ph1.png" alt=""></div>
            <div class="flying-text">
                <span class="p-absolute">Ride</span>
                <span class="p-absolute">Walk</span>
                <span class="p-absolute">Fight</span>
                <span class="p-absolute">Drive</span>
            </div>
            <div class="flying-img">
                <div class="img-wrapper p-absolute"><img src="../assets/decrations/head/arrow head phones 1.png" alt=""></div>
                <div class="img-wrapper p-absolute"><img src="../assets/decrations/head/arrow head phones 2.png" alt=""></div>
                <div class="img-wrapper p-absolute"><img src="../assets/decrations/head/vector head phones 1.png" alt=""></div>
                <div class="img-wrapper p-absolute"><img src="../assets/decrations/head/vector head phones 2.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="section section-academy">
        <h1 class="section-title">
            This is the <span class="text-important">Academy</span>, Chibis are educated there
        </h1>
    </div>
<script src="../../dist/landing-page.js"></script>    
</body>

</html>