<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <div class="toggle btn menu-btn" target="NavBarList">
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="image-wrapper logo-wrapper">
                    <img src="../assets/logo.png" alt="">
                </div>
            </div>
            <div class="nav-list-wrapper" id="NavBarList">
                <ul class="nav-list list">
                    <li class="nav-item"><a href="" class="nav-link">About TheRun</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Media</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Chibiverse</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Video</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Sports&Fitness </a></li>
                    <li class="nav-item"><a href="" class="nav-link">Team</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Roadmap</a></li>
                </ul>
            </div>
            <div class="navbar-functions">
                <button class="btn sign-in-btn">
                    <span>Sign in</span>
                </button>
                <button class="btn lang-btn toggle" target="">
                    <span class="image-wrapper"><img src="../assets/lang-planet-icon.png" alt="NONE"></span>
                    <span class="image-wrapper"><img src="../assets/lang-toggle-icon.png" alt="NONE"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="section">
        <h1>Chibiverse!</h1>
        <div class="image-wrapper">

        </div>
        <h2>Download now</h2>
    </div>
    
<script src="../../dist/landing-page.js"></script>    
</body>

</html>