@font-face {
    font-family: Roboto Condensed;
    src: url('../assets/fonts/Roboto Condensed/RobotoCondensed-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto Condensed;
    src: url('../assets/fonts/Roboto Condensed/RobotoCondensed-Bold.ttf');
    font-weight: 700;

}
@font-face {
    font-family: Roboto Condensed;
    src: url('../assets/fonts/Roboto Condensed/RobotoCondensed-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@media screen and (min-width: 600px){
    .section-subtitle{
        font-style: italic;
        text-align: center;
        font-size: 1.0416vw;
    }
    .wrapper{
        flex-direction: row;
    }
    .btn{
        padding: 0.21vw;
    }
    header{
        border-bottom: 0.2604166667vw solid #ea0f0f;
    }
    .navbar{
        padding: 0.51vw 0 0.51vw  0;
        justify-content: center;
    }
    .navbar .nav-content .navbar-brand{
        flex: 0 0 5.04vw;
    }
    .nav-content{
        flex-direction: row;
        width: 70.78vw;
        justify-content: start;
    }
    .list{
        padding: 0.42vw;
        line-height: 1.5vw;
    }
    .nav-list-wrapper{
        display: block;
        position: static;
        padding: 0;
        transform: none;

    }
    .logo-wrapper{
        margin-left: 0.42vw;

    }
    .logo-wrapper img{
        width: 1.67vw;
        height: 1.67vw;
        line-height: 1.67vw;
    }
    .nav-list-wrapper .nav-list{
        display: flex;
        justify-content: space-between;
        width: 45.93vw;
    }
    .nav-list-wrapper .nav-list .nav-item{
        display: inline-block;
        line-height: 0;
    }
    .nav-list-wrapper .nav-list .nav-item .list-link{
        font-size: 1.04vw;
        font-weight: 700;
        letter-spacing: 0.022vw;
        white-space: nowrap;
    }
    .sign-in-btn{
        padding: 0.32vw 0.98vw;
        margin-left: 3.67vw;
        border-radius: 0.67vw;
        height: 2.604vw;
        width: 8.7vw;
    }
    .sign-in-btn>span{
        font-size: .93vw;
        margin: 0 0.10vw;
    }
    .list-item{
        padding: 0.2083vw 0.4166vw;
    }
    .section .wrapper .block-container{
        max-width: none;
    }
    .section .wrapper .decorations{
        width: 100%;
    }
    .chibi-block{
        max-width: none;
    }
    .chibi-block .chibi-content{
        align-items: start;
        height: auto;
    }
    .chibi-title{
        font-size: 2.81vw;
    }
    .chibi-subtitle{
        font-size: 1.88vw;
    }
    .chibi-text{
        font-size: 1.46vw;
    }
    .head-title{
        font-size: 6.25vw;
        text-align: right;
    }
    .section .wrapper{
        flex-direction: row;
        padding: 0 !important;
        width: min-content;
        align-self: center;
    }
    .section-title{
        line-height: 1.25;
        font-size: 3.33vw;
    }
    .section-head{
        /*padding-top: 3.38vw ;*/
        padding: 4.68vw 8.43vw 2.187vw 16.35vw;
        background-size: contain;
        background-image: url('../assets/backgrounds/head-md/bg-head.svg');
    }
    .section-head .wrapper .presentation, .section-head .wrapper .description {
        max-width: none !important;
    }
    .section-head .wrapper .presentation{
        align-self: start;
        display: flex;
        flex-direction: column;
    }
    .section-head .wrapper .description{
        height: auto;
    }
    .section-head .wrapper .download-list{
        padding: 0.8333vw;
    }
    .download-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    .download-list{
        padding: 0.833vw;
    }
    .section-head .wrapper .presentation .download-list .background-image{
        height: 2.395vw;
        width: 8.38vw;
        background-size: 100% 100%;
    }
    .section-head .wrapper .presentation .download-links .section-subtitle{
        white-space: nowrap;
        font-family: Roboto;
        font-weight: 700;
        font-style: normal;
        font-size: 1.25vw;
    }
    .section-head .wrapper .presentation>.background-image{
        height: 32.656vw;
        width: 32.656vw;
        background-position: 100% 0%;
        background-size: 100% 100%;
        align-self: end;
        margin: 0;
    }
    .section-head .wrapper .description .decorations{
        position: static;
    }
    .section-head .wrapper .description>.background-image:nth-child(1){
        background-size: 100% 100%;
        /*padding: 30px 0 22px 0;*/
        padding: 6.875vw 0 0.187vw 0;
        height: 47.656vw;
        width: 37.604vw;

    }
    .section-academy{
        padding: 3.59vw 0 7.66vw 0;
    }
    .section-academy .section-title{
        margin: 0 0 2.83vw 0 ;
        padding: 0 28.45vw;
    }
    .section-academy .wrapper{
        justify-content: center;
        padding: 0 20.667vw 0 19.583vw;
    }
    .section-academy .wrapper .chibi-block:nth-child(1){
        background-position: 50% 100%;
        height: 22.395vw;
        width: 27.395vw;
        align-self: self-end;
        margin: 0 3.96vw 0 0;
    }

    .section-academy .wrapper .chibi-block:nth-child(2){
        background-position: 50% 0%;
        height: 26.822vw;
        width: 24.427vw;
        margin: 0 0 0 3.96vw;
    }
    .section-chibi-category{
        padding: 3.59vw 0 05.52vw 0;
    }
    .section-chibi-category .section-title{
        padding: 0 27.24vw 0 27.24vw;
        margin: 0 0 3.91vw 0;
    }
    .section-chibi-category .wrapper{
        padding: 0 12.75vw;
        justify-content: center;
    }
    .section-chibi-category .wrapper .chibi-block{
        margin: 0 0.52vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1){
        height: 13.54vw;
        width: 21.67vw;
        background-image: url("../assets/blocks/chibi-category/md/free chibi.svg");
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-title{
        width: 21.2vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-text{
        margin: 0;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1) .chibi-content{
        padding: 2.45vw 3.85vw 2.30vw 2.97vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(2){
        background-image: url("../assets/blocks/chibi-category/md/basic chibi.svg");
        height: 13.33vw;
        width: 24.53vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(2) .chibi-content{
        padding: 2.98vw 0 0 2.28vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(3){
        width: 23.28vw;
        height: 14.22vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(3) .chibi-content{
        padding: 1.8vw 1.09vw 0.99vw 2.5vw;
    }
    .section-chibi-category .section-link{
        font-size: 1.46vw;
        margin: 3.47vw 0 0 0;
    }
    .section-chibi-characteristics{
        padding: 6.09vw 0 7.92vw 0;
    }
    .section-chibi-characteristics .wrapper{
        justify-content: center;
        padding: 0 12.81vw 0 14.79vw;

    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(2){
        height: 43.13vw;
        background-size: contain;
        padding: 0;
        width: 36.98vw;
        padding: 0 0 0 1.1vw;
        margin: 0 0 0 0;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1){
        background-image: url("../assets/blocks/chibi-characteristics/md/characteristics.svg");
        background-size: contain;
        width: 31.51vw;
        height: 43.65vw;
        padding: 0 1.1vw 0 0;
       align-self: end;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content{
        padding: 4.22vw 0 4.22vw 4.53vw;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-title{
        padding: 0 1.44vw 0 0;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-subtitle,
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-text{
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-text{
        margin: 0.63vw 0 0 0;
        font-size: 1.46vw;
        padding: 0 0 0 0;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-subtitle{
        margin-top: 16.06vw;
        font-size: 1.88vw;
    }
    .section-battle{
        padding: 2.71vw 0 3.80vw 0;
    }
    .section-battle .section-title{
        margin: 0;
    }
    .section-battle .wrapper{
        flex-direction: column;
        padding: 0 16.72vw 0 17.45vw;
    }
    .section-battle .wrapper>.block-container{
        width: auto;

    }

    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block{
        position: relative;
        background-position: 50% 50%;
    }
    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block:nth-child(1){
        background-image: url("../assets/blocks/battle/md/elon.svg");
        background-position: 100% 50%;
        height: 32.92vw;
        width: 37.19vw;
        left: 4.45vw;
        align-self: center;
    }
    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block:nth-child(2){
        background-image: url("../assets/blocks/battle/md/lucy.svg");
        height: 37.03vw;
        width: 38.18vw;
        right: 4.45vw;
    }
    .section-battle .wrapper>.block-container:nth-child(1){
        justify-content: center;
        height: auto;
    }
    .section-battle .wrapper>.block-container:nth-child(2){
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 9.17vw 0;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1){
        width: 23.65vw;
        height: 10.52vw;
        background-size: 100% 100%;
        margin: 0 0 0 8.80vw;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1) .block-content{
        padding: 1.46vw 1.25vw 1.46vw 1.88vw;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(2){
        width: 18.85vw;
        align-self: center;
        margin: 0 8.80vw 0 5.05vw;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(2) .chibi-text{
        font-size: 2.50vw;
        width: 18.98vw;
        margin: 0;
        padding: 0;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1) .chibi-text{
        font-size: 1.46vw;
        padding: 0;
        font-weight: 400;
    }
    .section-artefacts{
        padding: 0 0 9.48vw 0;
    }
    .section-artefacts .section-title{
        padding: 0 21vw;
        width: 55.36vw;
    }
    .section-artefacts .wrapper{
        justify-content: center;
        padding: 0 20.36vw 0 20.57vw;
        margin: 7.29vw 0 0 0;
    }
    .section-artefacts .wrapper .block-container{
        margin: 2vw 0 0 0;
    }
    .section-artefacts .wrapper .block-container .chibi-block:nth-child(1){
        height: 23.33vw;
        width: 24.84vw;
        background-size: 100% 100%;
        margin: 0 5.57vw 0 0;
    }
    .section-artefacts .wrapper .block-container .chibi-block:nth-child(2){
        height: 23.33vw;
        width: 24.11vw;
        background-size: 100% 100%;
        margin: 0 0 0 5.57vw;
    }
    .section-artefacts .wrapper .block-container .chibi-block .chibi-content{
        height: 100%;
        padding-top: 5.10vw;
    }
    .section-artefacts .wrapper .block-container .chibi-block .chibi-name{
        font-size: 2.5vw;
        width: 100%;
        text-align: center;
    }
    .section-use-radar .wrapper{
        justify-content: center;
        padding: 7.29vw 16.01vw 3.13vw 15.28vw;
    }
    .section-use-radar .wrapper .block-container{
        width: auto;
    }
    .section-use-radar .wrapper .block-container>.chibi-block {
        width: 38.80vw;
        height: 33.33vw;
        margin: 0 0 0 0;
    }
    .section-use-radar .wrapper .block-container>.chibi-block .chibi-content{
        padding: 10.47vw 7.45vw 0 3.32vw;
    }
    .section-use-radar .wrapper .block-container>.chibi-block .chibi-content .chibi-title{
        margin: 0 0 0.83vw 0;
    }
    .section-use-radar .wrapper>.block-container>.block-container{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .section-use-radar .wrapper>.block-container>.block-container .background-image:nth-child(1){
        position: relative;
        width: 12.50vw;
        height: 11.88vw;
        align-self: end;
        margin: 0 0 1.75vw 0;
        left: 5vw;
    }
    .section-use-radar .wrapper>.block-container>.block-container .background-image:nth-child(2){
        width: 22.40vw;
        height: 22.40vw;
    }
    .section-use-radar .wrapper>.background-image{
        width: 24.38vw;
        height: 49.64vw;
        margin: 0;
        align-self: center;
        background-size: 100%;
    }
    .section-minerals{
        padding: 5.31vw 0 7.45vw 0;
    }
    .section-minerals .section-title{
        padding: 0 28.80vw 0 28.02vw;
        margin:0 0 0 0;
    }
    .section-minerals .wrapper{
        padding: 0 12.24vw  0 14.06vw;
        margin: 7.55vw 0 0 0;
        justify-content: center;
    }
    .section-minerals .wrapper .block-container{
        width: auto;
    }
    .section-minerals .wrapper .block-container:nth-child(1){
    }
    .section-minerals .wrapper .block-container .background-image{
        position: relative;
        align-self: auto;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(1){
        width: 37.29vw;
        height: 19.38vw;
        margin: 0 0 0 0;
        left: 4.7vw;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2){
        width: 29.38vw;
        height: 44.22vw;
        margin: 8.13vw 0 0 0;
        align-self: auto;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content{
        padding: 2.24vw 3.33vw 2.24vw 4.01vw;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content .chibi-text:nth-child(2){
        margin: 22.71vw 0 0 0;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content .chibi-text:nth-child(3){
        margin: 1.35vw 0 0 2.60vw;
    }
    .section-minerals .wrapper .block-container:nth-child(2){
        margin-top: 8.23vw;
    }
    .section-minerals .wrapper .block-container:nth-child(2) .chibi-block:nth-child(1){
        height: 21.77vw;
        width: 33.91vw;
        left: 5.21vw;
    }
    .section-minerals .wrapper .block-container:nth-child(2) .chibi-block:nth-child(2) {
        height: 26.20vw;
        width: 33.07vw;
        right: 2.45vw;
        margin: 11.46vw 0 0 0;
    }
    .section-transport{
        padding: 7.29vw  0 5.21vw 0;
    }
    .section-transport .wrapper{
        justify-content: center;
        padding: 0 14.67vw 0 19.88vw;
    }
    .section-transport .wrapper>.background-image {
        width: 26.51vw;
        height: 54.43vw;
        background-position: 80% 0;
    }
    .section-transport .wrapper>.block-container{
        padding: 0;
    }
    .section-transport .wrapper .block-container .chibi-block{
        height: 34.11vw;
        width: 34.58vw;
        margin: 0 0 0 2.25vw;
        background-size: 89%;
    }
    .section-transport .wrapper .block-container .section-title{
        width: 30.02vw;
        padding: 0;
        margin: 2.25vw 0 0 5.83vw;
        line-height: 1.2;
        font-size: 3.33vw;
    }
    .section-steal{
        padding: 7.60vw 0 0 0;
    }
    .section-steal .wrapper{
        justify-content: center;
    }
    .section-steal .wrapper .block-container .chibi-block:nth-child(1){
        height: 15.89vw;
        width: 36.46vw;
        margin: 6.67vw 0 0 0;
        background-image: url("../assets/blocks/steal/md/primary block.svg");
    }
    .section-steal .wrapper .block-container .background-image:nth-child(2){
        width: 32.86vw;
        height: 30.21vw;
        position: relative;
        background-size: 100%;
        top: -4.19vw
    }
    .section-steal .wrapper .block-container .chibi-block .chibi-content{
        padding: 1.96vw 2.45vw 2.45vw 2.45vw;
    }
    .section-steal .wrapper .block-container .chibi-block .chibi-title{
        font-size: 2.81vw;
        padding: 0 0 0 0;
    }
    .section-steal .wrapper > .chibi-block{
        height: 40.42vw;
        width: 31.30vw;
        align-self: start;
        background-image: url("../assets/blocks/steal/md/primary warning.svg");
        margin: 0 0 0 3.39vw;
    }
    .section-steal .wrapper > .chibi-block .chibi-content{
        padding: 10.42vw 3.75vw 3.39vw 3.96vw;
    }
    .section-steal .wrapper > .chibi-block .chibi-content .chibi-text{
        font-size: 1.67vw;
    }
    .section-token{
        padding: 2.57vw 0 3.80vw 0;
    }
    .section-token .wrapper{
        padding: 0 10.77vw 0 9vw;
        justify-content: center;
    }
    .section-token .wrapper .block-container{
        width: auto;
    }
    .section-token .wrapper .block-container > .block-container{
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        margin: 0 2.08vw 0 0;
    }
    .section-token .wrapper .block-container .section-title{
        text-align: left;
        padding: 0 12.60vw 0 5.21vw;
        margin: 0 0 0.94vw 0;
        width: 34.17vw;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(1){
        width: 22.45vw;
        height: 22.45vw;
        align-self: start;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2){

        width: 24.17vw;
        height: 23.39vw;
        align-self: end;
        margin: 30.5vw 0 0 0;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2) .chibi-content{
        margin: 24vw 0 0 0;
        display: block;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2) .chibi-content .chibi-title{
        text-align: center;
        width: 100%;
    }
    .section-token .wrapper>.background-image{
        height: 54.43vw !important;
        width: 26.51vw !important;
        margin: 0 0 0 0;
        background-position: 0% 0%;
    }
    .section-coming-soon{
        padding: 159px 10vw;
    }
    .section-coming-soon .section-title{
        font-size: 3.33vw;
       text-align: center;
        width: 32.50vw;
       /*padding: 0 24vw;*/
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-container{
        flex-direction: row;
        /*padding: 5.21vw 9.74vw 5.19vw 14.69vw;*/
        padding: 0;
        margin: 6.15625vw 0 5.15625vw 2.47vw;
        width: 75.625vw;
    }
    .footer-container .logo-wrapper{
        display: flex;
        flex: 0 0 15.15vw;
        justify-content: start;
    }
    .footer-container .footer-list{
        display: flex;
        flex: 0 0 19.57vw;
        padding: 0;
        flex-direction: column;
    }
    .footer-list>li{
        text-align: left;
        padding: 0;
    }
    .footer-list:nth-child(3) > li:nth-child(4){
        text-align: left;
        margin-top: 0;
    }
    .footer-list > .list-item{
        margin: 0;
    }
    .footer-list > .list-item > .list-link{
        font-size: 0.94vw;
        line-height: 1.79vw;
        font-weight: 400;
    }
    .footer-container .logo-wrapper{
        align-self: start;
        margin: 0;
    }
    .footer-container .logo-wrapper img{
        width: 1.67vw;
        height: 1.67vw;
    }
    .all-rights{
        position: relative;
        width: 5.68vw;
        margin-top: 0;
        text-align: right;
        display: flex;
        flex: 0 0 21.32vw;
        height: min-content;
    }
    .all-rights .right{
        text-align: end;
        font-weight: 400;
        font-size: .833vw;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/head/head 0/arrow.svg");
        width: 8.81vw;
        height: 3.92vw;
        top: 25%;
        left: 5%;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/head/head 0/Vector 1.svg");
        width: 3.80vw;
        height: 3.44vw;
        top: 77%;
        right: -5%;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/head/head 0/Vector 2.svg");
        height: 1.25vw;
        width: 1.98vw;
        top: 78%;
        left: 12%;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(4) {
        background-image: url("../assets/decorations/head/head 0/Vector 3.svg");
        height: 3.02vw;
        width: 3.49vw;
        top: 35%;
        right: 6%;
    }
    /* new */
    .section-head .wrapper .presentation .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/head/head 0/md/curve.svg");
        height: 9.48vw;
        width: 10.73vw;
        top: 89%;
        left: -35%;
    }

    .section-head .wrapper .description .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/head/head 1/arrow head phones 1.svg");
        height: 8.15vw;
        width: 8.15vw;
        background-size: contain;
        top: -4%;
        left: 42%;
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/head/head 1/arrow head phones 2.svg");
        height: 5.38vw;
        width: 8.24vw;
        transform: scale(1,1);
        background-size: contain;
        top: 77%;
        left: 87%;
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/head/head 1/vector head phones 1.svg");
        height: 1.98vw;
        width: 2.50vw;
        top: 34%;
        left: 99%;
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/head/head 1/vector\ head\ phones\ 2.svg");
        height: 5.21vw;
        width: 5.21vw;
        top: 70%;
        left: 22%;
       transform: rotate(0deg) scale(1,1);
    }
    .section-head .wrapper .description .decorations .flying-text{
        font-size: 1.88vw;
        font-family: VAG World;
        font-weight: 700;
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(1){
        top:9.5%;
        left: 60%;
        transform: rotate(-6.43deg);
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(2){
        top:14%;
        left: 72.8%;
        transform: rotate(4.69deg);
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(3){
        top:20.5%;
        left: 63%;
        transform: rotate(-2.72deg);
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(4){
        top:26%;
        left: 76.7%;
        transform: rotate(6.41deg);
    }
    .section-academy .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/academy/arrow.svg");
        height: 15.02vw;
        width: 15.02vw;
        left: -0%;
        top: -40%;
    }
    .section-academy .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/academy/cross.svg");
        width: 4.43vw;
        height: 2.92vw;
        top: 55%;
        left: 47.5%;

    }
    .section-academy .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/academy/vector 1.svg");
        width: 5.63vw;
        height: 4.58vw;
        top: 83%;
        left: 100%;

    }
    .section-academy .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/academy/arrow 2.svg");
        width: 5.73vw;
        height: 4.90vw;
        top: 82%;
        left: -6vw;
        transform: rotate(15deg);
    }
    /* new */
    .section-academy .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/academy/md/arrow spiral.svg");
        width: 12.35vw;
        height: 10.90vw;
        background-size: contain;
        left: 81% ;
        top: -23%;
    }
    .section-chibi-category .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/chibi category/line\ 1.svg");
        width: 8.18vw;
        height: 3.65vw;
        background-size: contain;
        top: -52%;
        left: 8.5%;
    }
    .section-chibi-category .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/chibi category/line\ 2.svg");
        width: 8.18vw;
        height: 3.65vw;
        background-size: contain;
        top: -52%;
        right: 8%;
    }
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/chibi\ characteristics/red arrow.svg");
        height: 6.09vw;
        width: 4.64vw;
        top: 61%;
        left: 37%;
        transform: rotate(-60deg);
    }
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/chibi\ characteristics/arrow.svg");
        width: 4.38vw;
        height: 6.25vw;
        top: 532px;
        left: 45%;
        display: none;
    }
    /* new */
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/chibi\ characteristics/md/red arrow 2.svg");
        height: 9.69vw;
        width: 11.41vw;
        top: 19%;
        left: 35%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/battle/versus.svg");
        width: 11.56vw;
        height: 8.28vw;
        left: 43%;
        top: 17%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/battle/arr 1.svg");
        width: 11.98vw;
        height: 7.92vw;
        top: 52%;
        left: 25%;
        transform: rotate(-5deg);
    }
    .section-battle .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/battle/arr 2.svg");
        width: 12.50vw;
        height: 8.44vw;
        top: 51%;
        left: 58%;
        transform: rotate(90deg);
    }
    .section-battle .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/battle/coin 50.svg");
        width: 9.17vw;
        height: 3.44vw;
        top: 58%;
        left: 18%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/battle/coin 50.svg");
        width: 9.17vw;
        height: 3.44vw;
        top: 57%;
        right: 16%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(6){
        background-image: url("../assets/decorations/battle/bag.svg");
        height: 21.46vw;
        width: 16.09vw;
        top: 60%;
        left: 40%;
        transform: rotate(6.35deg);
    }
    .section-battle .wrapper .decorations .background-image:nth-child(7){
        background-image: url("../assets/decorations/battle/coin 100.svg");
        width: 9.17vw;
        height: 4.06vw;
        top: 90%;
        right: 44%;
        transform: rotate(5deg);
    }
    /* new */
    .section-battle .wrapper .decorations .background-image:nth-child(8){
        background-image: url("../assets/decorations/battle/md/curve\ line.svg");
        width: 23.07vw;
        height: 4.06vw;
        top: 44%;
        right: 11%;
    }
    /* new */
    .section-battle .wrapper .decorations .background-image:nth-child(9){
        background-image: url("../assets/decorations/battle/md/curve black.svg");
        width: 11.77vw;
        height: 11.77vw;
        top: 7%;
        left: -5%;
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/artefacts/arrow-left.svg");
        height: 6vw;
        width: 10.69vw;
        left: 20%;
        top: -25%;
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/artefacts/arrow-right.svg");
        height: 6vw;
        width: 10.69vw;
        right: 27%;
        top: -25%;
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/artefacts/spray.svg");
        height: 5.31vw;
        width: 5.31vw;
        top: 88%;
        left: -8%;
        transform: rotate(23deg);
    }
    /* new */
    .section-artefacts .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/artefacts/md/curve line red.svg");
        height: 19.06vw;
        width: 13.23vw;
        top: -20%;
        right: -24%;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/radar/redarr\ left.svg");
        width: 2.45vw;
        height: 3.80vw;
        top: 27%;
        left: 28%;
        display: none;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/radar/arrow\ spiral.svg");
        width: 133px;
        height: 158px;
        width: 6.93vw;
        height: 8.23vw;
        top: 56%;
        left: 25%;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/radar/crown.svg");
        width: 5.73vw;
        height: 5.73vw;
        top: 0%;
        left: 56%;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/radar/spray.svg");
        width: 4.53vw;
        height: 4.53vw;
        top: 89%;
        right: -5%;
    }
    /* new */
    .section-use-radar .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/radar/md/arrow red.svg");
        width: 9.90vw;
        height: 9.99vw;
        top: 79%;
        left: -10%;
    }

    .section-minerals .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/minerals/md/red rect.svg");
        width: 19.69vw;
        height: 8.45vw;
        top: -4%;
        left: 41%;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(1) .chibi-content{
        padding: 0.1vw 1.75vw;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(1) .chibi-text{
        font-size: 1.46vw;
        transform: rotate(4deg);
    }
    .section-minerals .wrapper .decorations .chibi-block:nth-child(1) .chibi-text{
        padding: 1.34vw 1.67vw;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/minerals/red arrow.svg");
        height: 6.41vw;
        width: 6.41vw;
        left: 24%;
        top: 28%;
        transform: rotate(34deg);
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/minerals/info-1.svg");
        width: 7.45vw;
        height: 2.50vw;
        top:51%;
        left: 50%;
        transform: rotate(5deg);
        z-index: 2;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/minerals/crown right.svg");
        width: 4.69vw;
        height: 5.99vw;
        top:12%;
        left: 102%;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/minerals/arrow zig zag.svg");
        width: 13.01vw;
        height: 13.90vw;
        top: 40.5%;
        left: 77%;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(6){
        background-image: url("../assets/decorations/minerals/info.svg");
        width: 7.45vw;
        height: 2.50vw;
        top: 43%;
        left: 83%;
        transform: rotate(-12deg);
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(7){
        background-image: url("../assets/decorations/minerals/cool artefacts.svg");
        width: 12.71vw;
        height: 2.45vw;
        top: 86.3%;
        left: 79%;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(8){
        background-image: url("../assets/decorations/minerals/arrow red spiral.svg");
        width: 11.30vw;
        height: 15.68vw;
        top:37%;
        transform: rotate(190deg) scaleX(-100%);
        left: 46%;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(9){
        background-image: url("../assets/decorations/minerals/curve.svg");
        width: 10.30vw;
        height: 14.68vw;
        top:80%;
        left: 43%;
    }
    .section-transport .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/transport/arr.svg");
        height: 7.34vw;
        width: 8.28vw;
        top:53%;
        left: -15%;
    }
    .section-steal .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/steal/spray\ black.svg");
        width: 4.69vw;
        height: 4.69vw;
        top: 40%;
        left: -9%;
        transform: rotate(15deg) scaleX(-100%);
    }
    .section-steal .wrapper .decorations .background-image:nth-child(2) {
        background-image: url("../assets/decorations/steal/arrow\ red.svg");
        width: 9.64vw;
        height: 8.07vw;
        transform: rotate(-35deg);
        top: 29%;
        left: 39%;
    }
    .section-token .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/tokens/rect.svg");
        width: 19.58vw;
        height: 8.96vw;
        top: 74%;
        left: 10%;
        transform: rotate(-5deg);
    }
    .section-token .wrapper .decorations .background-image:nth-child(1) .chibi-content{
        padding: 0.63vw 2.08vw;
    }
    .section-token .wrapper .decorations .background-image:nth-child(1) .chibi-content .chibi-text{
        font-size: 1.30vw;
        padding: 0.83vw 1.35vw;
    }
    .section-token .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/tokens/arrow down.svg");
        width: 5.89vw;
        height: 9.48vw;
        transform: rotate(-30deg);
        top: 50%;
        left: 17%;
    }
    .section-token .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/tokens/arrow curve.svg");
        width: 9.95vw;
        height: 23.44vw;
        transform: rotate(-60deg);
        top: 15%;
        left: 38%;

    }
    .section-token .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/tokens/rect 1.svg");
        width: 16.93vw;
        height: 8.44vw;
        top: 21%;
        left: 34%;
        z-index: 2;
        transform: rotate(-5deg);
    }
    .section-token .wrapper .decorations .background-image:nth-child(4) .chibi-content .chibi-text{
        font-size: 1.30vw;
        padding: 0.625vw 1.25vw;
    }
    .section-token .wrapper .decorations .background-image:nth-child(4) .chibi-content{
        padding: 0.21vw 0;
    }
    .section-token .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/tokens/spiral.svg");
        width: 4.11vw;
        height: 5.68vw;
        top: 92%;
        left: 65%;
    }
    .section-token .wrapper .decorations .background-image:nth-child(6){
        width: 3.39vw;
        height: 2.76vw;
        top: 76.5%;
        left: 89%;
    }
    .section-coming-soon .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/coming soon/spray black.svg");
        width: 4.06vw;
        height: 3.39vw;
        left: 75%;
        top: -12%;
    }
    .section-coming-soon .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/coming soon/arrow zig zag.svg");
        width: 9.27vw;
        height: 4.95vw;
        top:80%;
        left: 10%;
    }
}