@media screen and (min-width: 600px){

    .section-subtitle{
        font-style: italic;
        text-align: center;
        font-size: 1.0416vw;
    }
    .wrapper{
        flex-direction: row;

    }
    .decorations{

    }
    .navbar{
        padding: 15px 11.51vw 15px  14.63vw;
    }
    .nav-list-wrapper .nav-list .nav-item{
        padding: 0 1.82vw;
    }
    .nav-list-wrapper .nav-list .nav-item .list-link{
        font-size: 1.0416vw;
    }
    .list-item{
        padding: 0.2083vw 0.4166vw;
    }
    .decorations{
        max-width: 100%;
    }
    .section .wrapper .block-container{
        max-width: none;
    }
    .chibi-block{
        max-width: none;
    }
    .chibi-block .chibi-content{
        align-items: start;
        height: auto;
    }
    .chibi-title{
        font-size: 2.81vw;
    }
    .chibi-subtitle{
        font-size: 1.88vw;
    }
    .chibi-text{
        font-size: 1.46vw;
    }
    .head-title{
        font-size: 6.25vw;
        text-align: right;
    }
    .section .wrapper{
        flex-direction: row;
    }
    .section-title{
        line-height: 1.25;
        font-size: 3.33vw;
    }
    .section-head{
        /*padding-top: 3.38vw ;*/
        padding: 4.68vw 8.43vw 2.187vw 16.35vw;
        background-image: url('../assets/backgrounds/head-md/bg-head.svg');
    }
    .section .wrapper .decorations{
        max-width: none;
    }
    .section-head .wrapper .presentation, .section-head .wrapper .description {
        max-width: none !important;
    }
    .section-head .wrapper .presentation{
        align-self: start;
        display: flex;
        flex-direction: column;
    }
    .section-head .wrapper .description{
        height: auto;
    }
    .section-head .wrapper .download-list{
        padding: 0.8333vw;
    }
    .download-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }
    .download-list{
        padding: 0.833vw;
    }
    .section-head .wrapper .presentation .download-list .background-image{
        height: 2.395vw;
        width: 8.38vw;
        background-size: 100% 100%;
    }
    .section-head .wrapper .presentation>.background-image{
        height: 32.656vw;
        width: 32.656vw;
        background-position: 100% 0%;
        background-size: 100% 100%;
        align-self: end;
    }
    .section-head .wrapper .description .decorations{
        position: static;
    }
    .section-head .wrapper .description>.background-image:nth-child(1){
        background-size: 100% 100%;
        /*padding: 30px 0 22px 0;*/
        padding: 6.875vw 0 0.187vw 0;
        height: 47.656vw;
        width: 37.604vw;

    }
    .section-academy{
        padding: 3.59vw 0 7.66vw 0;
    }
    .section-academy .section-title{
        margin: 0 0 2.83vw 0 ;
        padding: 0 29.95vw;
    }
    .section-academy .wrapper{
        justify-content: space-between;
        padding: 0 20.667vw 0 19.583vw;
    }
    .section-academy .wrapper .chibi-block:nth-child(1){
        background-position: 50% 100%;
        height: 22.395vw;
        width: 27.395vw;
        align-self: self-end;
    }

    .section-academy .wrapper .chibi-block:nth-child(2){
        background-position: 50% 0%;
        height: 26.822vw;
        width: 24.427vw;

    }
    .section-chibi-category{
        padding: 3.59vw 0 05.52vw 0;
    }
    .section-chibi-category .section-title{
        padding: 0 27.24vw 0 27.24vw;
        margin: 0 0 3.91vw 0;
    }
    .section-chibi-category .wrapper{
        padding: 0 12.75vw;
    }
    .section-chibi-category .wrapper .chibi-block{
        margin: 0 10px;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1){
        max-width: 414px;
        max-height: 260px;
        height: 13.54vw;
        width: 21.67vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1) .chibi-content{
        padding: 2.45vw 3.85vw 1.30vw 2.97vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(2){
        background-image: url("../assets/blocks/chibi-category/md/basic chibi.svg");
        max-width: 471px;
        max-height: 256px;
        height: 13.33vw;
        width: 24.53vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(2) .chibi-content{
        padding: 2.98vw 0 0 2.28vw;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(3){
        width: 23.28vw;
        max-width: 447px;
        height: 14.22vw;
        max-height: 273px;
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(3) .chibi-content{
        padding: 1.8vw 1.09vw 0.99vw 2.5vw;
    }
    .section-chibi-category .section-link{
        font-size: 1.46vw;
        margin-top: 3.47vw;
    }
    .section-chibi-characteristics{
        padding: 6.09vw 0 7.92vw 0;
    }
    .section-chibi-characteristics .wrapper{
        justify-content: center;
        padding: 0 12.81vw 0 14.79vw;

    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(2){
        height: 43.13vw;
        background-size: contain;
        padding: 0;
        width: 36.98vw;
        max-width: 710px;
        max-height: 828px;
        padding: 0 0 0 1.1vw;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1){
        background-size: contain;
        width: 31.51vw;
        height: 43.65vw;
        max-width: 605px;
        max-height: 838px;
        padding: 0 1.1vw 0 0;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content{
        padding: 4.22vw 0 4.22vw 4.53vw;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-title{
        padding: 0 1.44vw 0 0;
        max-width: none;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-subtitle,
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-text{
        max-width: 24.53vw;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-text{
        margin: 0;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-subtitle{
        margin-top: 14.06vw;
        max-width: none;
    }
    .section-battle .wrapper{
        flex-direction: column;
        padding: 0 16.72vw 0 17.45vw;
    }
    .section-battle .wrapper>.block-container{
        width: auto;

    }

    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block{
        position: relative;
        background-position: 50% 50%;
    }
    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block:nth-child(1){
        background-image: url("../assets/blocks/battle/md/elon.svg");
        background-position: 100% 50%;
        height: 32.92vw;
        width: 37.19vw;
        left: 4.45vw;
        align-self: center;
    }
    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block:nth-child(2){
        background-image: url("../assets/blocks/battle/md/lucy.svg");
        height: 37.03vw;
        width: 38.18vw;
        right: 4.45vw;
    }
    .section-battle .wrapper>.block-container:nth-child(1){
        justify-content: center;
        height: auto;
    }
    .section-battle .wrapper>.block-container:nth-child(2){
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 9.17vw 0;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1){
        width: 23.65vw;
        height: 10.52vw;
        max-width: 454px;
        max-height: 202px;
        background-size: 100% 100%;
        margin: 0 0 0 8.80vw;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1) .block-content{
        padding: 1.46vw 1.25vw 1.46vw 1.88vw;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(2){
        max-width: 362px;
        width: 18.85vw;
        align-self: center;
        margin: 0 8.80vw 0 5.05vw;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(2) .chibi-text{
        font-size: 2.50vw;
        max-width: none;
        margin: 0;
        padding: 0;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1) .chibi-text{
        font-size: 1.46vw;
        padding: 0;
    }
    .section-artefacts{
        padding: 0 0 9.48vw 0;
    }
    .section-artefacts .section-title{
        padding: 0 21vw;
    }
    .section-artefacts .wrapper{
        justify-content: center;
        padding: 0 20.36vw 0 20.57vw;
        margin: 7.29vw 0 0 0;
    }
    .section-artefacts .wrapper .block-container .chibi-block:nth-child(1){
        height: 23.33vw;
        width: 24.84vw;
        max-height: 448px;
        max-width: 477px;
        background-size: 100% 100%;
        margin: 0 5.57vw 0 0;
    }
    .section-artefacts .wrapper .block-container .chibi-block:nth-child(2){
        height: 23.33vw;
        width: 24.11vw;
        max-height: 448px;
        max-width: 463px;
        background-size: 100% 100%;
        margin: 0 0 0 5.57vw;
    }
    .section-artefacts .wrapper .block-container .chibi-block .chibi-content{
        height: 100%;
        padding-top: 5.10vw;
    }
    .section-artefacts .wrapper .block-container .chibi-block .chibi-name{
        font-size: 2.5vw;
        width: 100%;
        text-align: center;
    }
    .section-use-radar .wrapper{
        justify-content: center;
        padding: 7.29vw 18.01vw 3.13vw 17.28vw;
    }
    .section-use-radar .wrapper .block-container{
        width: auto;
    }
    .section-use-radar .wrapper .block-container>.chibi-block {
        max-width: 745px;
        max-height: 640px;
        width: 38.80vw;
        height: 33.33vw;
    }
    .section-use-radar .wrapper .block-container>.chibi-block .chibi-content{
        padding: 10.47vw 7.45vw 0 3.32vw;
    }
    .section-use-radar .wrapper .block-container>.chibi-block .chibi-content .chibi-title{
        margin: 0 0 0.83vw 0;
    }
    .section-use-radar .wrapper>.block-container>.block-container{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .section-use-radar .wrapper>.block-container>.block-container .background-image:nth-child(1){
        width: 12.50vw;
        height: 11.88vw;
        max-height: 228px;
        max-width: 240px;
        align-self: end;
        margin: 0 0 1.75vw 0;
    }
    .section-use-radar .wrapper>.block-container>.block-container .background-image:nth-child(2){
        width: 22.40vw;
        height: 22.40vw;
        max-width: 430px;
        max-height: 430px;

    }
    .section-use-radar .wrapper>.background-image{
        max-height: 953px;
        max-width: 468px;
        width: 24.38vw;
        height: 49.64vw;
        margin: 0;
        align-self: center;
        background-size: 100%;
    }
    .section-minerals{
        padding: 5.31vw 0 7.45vw 0;
    }
    .section-minerals .section-title{
        padding: 0 28.80vw 0 28.02vw;
    }
    .section-minerals .wrapper{
        padding: 0 12.24vw  0 14.06vw;
        margin: 7.55vw 0 0 0;
    }
    .section-minerals .wrapper .block-container .background-image{
        position: relative;
        align-self: start;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(1){
        max-width: 716px;
        max-height: 372px;
        width: 37.29vw;
        height: 19.38vw;
        margin: 0 0 0 0;
        left: 4.7vw;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2){
        max-height: 849px;
        max-width: 564px;
        width: 29.38vw;
        height: 44.22vw;
        margin: 8.13vw 0 0 0;
        align-self: start;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content{
        padding: 2.24vw 3.33vw 2.24vw 4.01vw;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content .chibi-text:nth-child(2){
        margin: 22.71vw 0 0 0;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content .chibi-text:nth-child(3){
        margin: 1.35vw 0 0 2.60vw;
    }
    .section-minerals .wrapper .block-container:nth-child(2){
        margin-top: 8.23vw;
    }
    .section-minerals .wrapper .block-container:nth-child(2) .chibi-block:nth-child(1){
        height: 21.77vw;
        max-height: 418px;
        width: 33.91vw;
        max-width: 651px;
        left: 5.21vw;
    }
    .section-minerals .wrapper .block-container:nth-child(2) .chibi-block:nth-child(2) {
        max-height: 503px;
        height: 26.20vw;
        width: 33.07vw;
        max-width: 635px;
        right: 2.45vw;
        margin: 11.46vw 0 0 0;
    }
    .section-transport{
        padding: 7.29vw  0 5.21vw 0;
    }
    .section-transport .wrapper{
        justify-content: center;
        padding: 0 14.67vw 0 19.88vw;
    }
    .section-transport .wrapper>.background-image {
        width: 26.51vw;
        max-width: 509px;
        max-height: 1045px;
        height: 54.43vw;
        background-position: 80% 0;
    }
    .section-transport .wrapper>.block-container{
        padding: 0;
    }
    .section-transport .wrapper .block-container .chibi-block{
        max-height: 655px;
        height: 34.11vw;
        max-width: 664px;
        width: 34.58vw;
        margin: 0 0 0 2.25vw;
        background-size: 89%;
    }
    .section-transport .wrapper .block-container .section-title{
        width: 30.02vw;
        padding: 0;
        margin: 2.25vw 0 0 5.83vw;
        line-height: 1.2;
        font-size: 3.33vw;
    }
    .section-steal{
        padding: 7.60vw 0 0 0;
    }
    .section-steal .wrapper{
        justify-content: center;
    }
    .section-steal .wrapper .block-container .chibi-block:nth-child(1){
        max-height: 305px;
        height: 15.89vw;
        max-width: 700px;
        width: 36.46vw;
        margin: 6.67vw 0 0 0;
    }
    .section-steal .wrapper .block-container .background-image:nth-child(2){
        max-height: 631px;
        max-width: 580px;
        width: 32.86vw;
        height: 30.21vw;
        position: relative;
        background-size: 90%;
        top: -4.19vw
    }
    .section-steal .wrapper .block-container .chibi-block .chibi-content{
        padding: 1.96vw 2.45vw 2.45vw 2.45vw;
    }
    .section-steal .wrapper .block-container .chibi-block .chibi-title{
        font-size: 2.81vw;
        padding: 0 0 0 0;
    }
    .section-steal .wrapper > .chibi-block{
        max-height: 643px;
        height: 33.49vw;
        max-width: 575px;
        width: 29.95vw;
        align-self: start;
    }
    .section-steal .wrapper > .chibi-block .chibi-content{
        padding: 9.36vw 4.92vw 3.39vw 4.92vw;
    }
    .section-token{
        padding: 2.57vw 0 3.80vw 0;
    }
    .section-token .wrapper{
        padding: 0 10.77vw 0 9vw;
        justify-content: center;
    }
    .section-token .wrapper .block-container{
        width: auto;
    }
    .section-token .wrapper .block-container > .block-container{
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        margin: 0 2.08vw 0 0;
    }
    .section-token .wrapper .block-container .section-title{
        text-align: left;
        padding: 0 12.60vw 0 5.21vw;
        margin: 0 0 0.94vw 0;
        max-width: 656px;
        /*width: 34.17vw;*/
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(1){
        max-height: 431px;
        max-width: 431px;
        width: 22.45vw;
        height: 22.45vw;
        align-self: start;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2){

        max-height: 449px;
        max-width: 464px;
        width: 24.17vw;
        height: 23.39vw;
        align-self: end;
        margin: 30.5vw 0 0 0;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2) .chibi-content{
        margin: 24vw 0 0 0;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2) .chibi-content .chibi-title{
        text-align: center;
        width: 100%;
    }
    .section-token .wrapper>.background-image{
        max-height: 1045px;
        max-width: 509px;
        height: 54.43vw;
        width: 26.51vw;
        margin: 0 0 0 0;
        background-position: 0% 0%;
    }
    .section-coming-soon{
        padding: 159px 10vw;
    }
    .section-coming-soon .section-title{
        font-size: 3.33vw;
       text-align: center;
       max-width: none;
       padding: 0 24vw;
    }

    .footer-container{
        flex-direction: row;
        justify-content: space-between;
        padding: 5.21vw 9.74vw 5.19vw 14.69vw;
    }
    .footer-container .logo-wrapper{
        align-self: flex-end;
    }
    .footer-list:nth-child(3) > li:nth-child(4){
        text-align: center;
        margin-top: 0;
    }
    .footer-list .list-link{
        font-size: 0.94vw;
    }
    .footer-container .logo-wrapper{
        align-self: start;
        margin: 1.62vw 0 0 0;

    }
    .footer-container .logo-wrapper img{
        width: 1.67vw;
        height: 1.67vw;
        max-width: 32px;
        max-height: 32px;
    }
    .all-rights{
        position: relative;
        width: 5.68vw;
        margin-top: 0;
        text-align: right;

    }
    .all-rights::before{
        font-size: 0.83vw;
        content: "© TheRun, 2023.DEVR LIMITED 7/F MW TWRSheung WanHong Kong";
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/head/head 0/arrow.svg");
        max-height: 56px;
        max-width: 150px;
        width: 7.81vw;
        height: 2.92vw;
        top: 11.77vw;
        left: 10%;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/head/head 0/Vector 1.svg");
        max-width: 73px;
        max-height: 66px;
        width: 3.80vw;
        height: 3.44vw;
        top: 38.91vw;
        right: -20px;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/head/head 0/Vector 2.svg");
        max-height: 24px;
        max-width: 38px;
        height: 1.25vw;
        width: 1.98vw;
        top: 38.91vw;
        left: 11%;
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(4) {
        background-image: url("../assets/decorations/head/head 0/Vector 3.svg");
        max-height: 58px;
        max-width: 67px;
        height: 3.02vw;
        width: 3.49vw;
        top: 35%;
        right: 5%;
    }
    /* new */
    .section-head .wrapper .presentation .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/head/head 0/md/curve.svg");
        max-height: 182px;
        max-width: 206px;
        height: 9.48vw;
        width: 10.73vw;
        top: 89%;
        left: -30%;
    }
    
    .section-head .wrapper .description .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/head/head 1/arrow head phones 1.svg");
        max-height: 118px;
        max-width: 118px;
        height: 6.15vw;
        width: 6.15vw;
        transform: rotate(-10deg);
        background-size: contain;
        top: 0%;
        left: 45%;
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/head/head 1/arrow head phones 2.svg");
        max-height: 84px;
        max-width: 139px;
        height: 4.38vw;
        width: 7.24vw;
        transform: scale(1,1);
        background-size: contain;
        top: 77%;
        left: 85%;
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/head/head 1/vector head phones 1.svg");
        max-height: 38px;
        max-width: 48px;
        height: 1.98vw;
        width: 2.50vw;
        top: 35%;
        left: 99%;
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/head/head 1/vector\ head\ phones\ 2.svg");
        max-height: 100px;
        max-width: 100px;
        height: 5.21vw;
        width: 5.21vw;
        top: 69%;
        left: 18%;
       transform: rotate(10deg) scale(1,1);
    }
    .section-head .wrapper .description .decorations .flying-text{
        font-size: 1.88vw;
        font-family: VAG World;
        font-weight: 1000;
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(1){
        top:9.5%;
        left: 60%;
        transform: rotate(-6.43deg);
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(2){
        top:14%;
        left: 75.8%;
        transform: rotate(4.69deg);
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(3){
        top:20.5%;
        left: 63%;
        transform: rotate(-2.72deg);
    }
    .section-head .wrapper .description .decorations .flying-text:nth-last-child(4){
        top:26%;
        left: 79.7%;
        transform: rotate(6.41deg);
    }
    .section-academy .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/academy/arrow.svg");
        max-height: 250px;
        max-width: 250px;
        height: 13.02vw;
        width: 13.02vw;
        left: -.9vw;
        top: -40%;
    }
    .section-academy .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/academy/cross.svg");
        max-width: 85px;
        max-height: 56px;
        width: 4.43vw;
        height: 2.92vw;
        top: 55%;
        left: 28.5vw;
    }
    .section-academy .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/academy/vector 1.svg");
        max-width: 108px;
        max-height: 88px;
        width: 5.63vw;
        height: 4.58vw;
        top: 85%;
        left: 60%;
    }
    .section-academy .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/academy/arrow 2.svg");
        max-width: 110px;
        max-height: 94px;
        width: 5.73vw;
        height: 4.90vw;
        top: 87%;
        left: -6vw;
    }
    /* new */
    .section-academy .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/academy/md/arrow spiral.svg");
        max-width: 218px;
        max-height: 190px;
        width: 11.35vw;
        height: 9.90vw;
        background-size: contain;
        left: 50vw ;
        top: -30%;
    }
    .section-chibi-category .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/chibi category/line\ 1.svg");
        max-width: 157px;
        max-height: 70px;
        width: 8.18vw;
        height: 3.65vw;
        background-size: contain;
        top: -52%;
        left: 6.5%;
    }
    .section-chibi-category .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/chibi category/line\ 2.svg");
        max-width: 157px;
        max-height: 70px;
        width: 8.18vw;
        height: 3.65vw;
        background-size: contain;
        top: -52%;
        right: 32%;
    }
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/chibi\ characteristics/red arrow.svg");
        max-height: 117px;
        max-width: 89px;
        height: 6.09vw;
        width: 4.64vw;
        top: 430px;
        left: 40%;
        transform: rotate(-60deg);
    }
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/chibi\ characteristics/arrow.svg");
        max-width: 84px;
        max-height: 120px;
        width: 4.38vw;
        height: 6.25vw;
        top: 532px;
        left: 45%;
        display: none;
    }
    /* new */
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/chibi\ characteristics/md/red arrow 2.svg");
        max-height: 186px;
        max-width: 219px;
        height: 9.69vw;
        width: 11.41vw;
        top: 24%;
        left: 38%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/battle/versus.svg");
        max-width: 222px;
        max-height: 159px;
        width: 11.56vw;
        height: 8.28vw;
        left: 43%;
        top: 20%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/battle/arr 1.svg");
        max-width: 230px;
        max-height: 152px;
        width: 11.98vw;
        height: 7.92vw;
        top: 55%;
        left: 30%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/battle/arr 2.svg");
        max-width: 240px;
        max-height: 162px;
        width: 12.50vw;
        height: 8.44vw;
        top: 53%;
        left: 55%;
        transform: rotate(90deg);
    }
    .section-battle .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/battle/coin 50.svg");
        max-width: 176px;
        max-height: 66px;
        width: 9.17vw;
        height: 3.44vw;
        top: 62%;
        left: 25%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/battle/coin 50.svg");
        max-width: 176px;
        max-height: 66px;
        width: 9.17vw;
        height: 3.44vw;
        top: 58%;
        right: 27%;
    }
    .section-battle .wrapper .decorations .background-image:nth-child(6){
        background-image: url("../assets/decorations/battle/bag.svg");
        max-height: 412px;
        max-width: 309px;
        height: 21.46vw;
        width: 16.09vw;
        top: 60%;
        left: 40%;
        transform: rotate(-2.35deg);
    }
    .section-battle .wrapper .decorations .background-image:nth-child(7){
        background-image: url("../assets/decorations/battle/coin 100.svg");
        max-width: 176px;
        max-height: 78px;
        width: 9.17vw;
        height: 4.06vw;
        top: 90%;
        right: 44%;
    }
    /* new */
    .section-battle .wrapper .decorations .background-image:nth-child(8){
        background-image: url("../assets/decorations/battle/md/curve\ line.svg");
        max-width: 443px;
        max-height: 78px;
        width: 23.07vw;
        height: 4.06vw;
        top: 44%;
        right: 21%;
    }
    /* new */
    .section-battle .wrapper .decorations .background-image:nth-child(9){
        background-image: url("../assets/decorations/battle/md/curve black.svg");
        max-width: 226px;
        max-height: 226px;
        width: 11.77vw;
        height: 11.77vw;
        top: 7%;
        left: 6%;
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/artefacts/arrow-left.svg");
        max-height: 96px;
        max-width: 186px;
        height: 5vw;
        width: 9.69vw;
        left: 36%;
        top: -26%;
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/artefacts/arrow-right.svg");
        max-height: 96px;
        max-width: 186px;
        height: 5vw;
        width: 9.69vw;
        right: 37%;
        top: -26%;
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/artefacts/spray.svg");
        max-height: 102px;
        max-width: 102px;
        height: 5.31vw;
        width: 5.31vw;
        top: 88%;
        left: 16%;
        transform: rotate(23deg);
    }
    /* new */
    .section-artefacts .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/artefacts/md/curve line red.svg");
        max-height: 366px;
        max-width: 254px;
        height: 19.06vw;
        width: 13.23vw;
        top: 0%;
        right: 5%;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/radar/redarr\ left.svg");
        max-width: 47px;
        max-height: 73px;
        width: 2.45vw;
        height: 3.80vw;
        top: 27%;
        left: 28%;
        display: none;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/radar/arrow\ spiral.svg");
        width: 133px;
        height: 158px;
        width: 6.93vw;
        height: 8.23vw;
        top: 52%;
        left: 32%;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/radar/crown.svg");
        max-width: 110px;
        max-height: 110px;
        width: 5.73vw;
        height: 5.73vw;
        top: 9%;
        left: 54%;
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/radar/spray.svg");
        max-width: 87px;
        max-height: 87px;
        width: 4.53vw;
        height: 4.53vw;
        top: 81%;
        right: 14%;
    }
    /* new */
    .section-use-radar .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/radar/md/arrow red.svg");
        max-width: 190px;
        max-height: 195px;
        width: 9.90vw;
        height: 9.99vw;
        top: 74%;
        left: 7%;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/minerals/rect red.svg");
        max-width: 378px;
        max-height: 143px;
        width: 19.69vw;
        height: 8.45vw;
        top: -4%;
        left: 33%;
        transform: rotate(4deg);
    } 
    .section-minerals .wrapper .decorations .background-image:nth-child(1) .chibi-content{
        padding: 0px 0;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(1) .chibi-text{
        font-size: 1.46vw;
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/minerals/red arrow.svg");
        max-height: 122px;
        max-width: 123px;
        height: 6.41vw;
        width: 6.41vw;
        left: 18%;
        top: 28%;
        transform: rotate(34deg);
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/minerals/info-1.svg");
        max-width: 143px;
        max-height: 48px;
        width: 7.45vw;
        height: 2.50vw;
        top:45%;
        left: 45%;
        transform: rotate(5deg);
        z-index: 2;
    } 
    .section-minerals .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/minerals/crown right.svg");
        max-width: 90px;
        max-height: 115px;
        width: 4.69vw;
        height: 5.99vw;
        top:12%;
        left: 72%;
    } 
    .section-minerals .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/minerals/arrow zig zag.svg");
        max-width: 193px;
        max-height: 230px;
        width: 13.01vw;
        height: 13.90vw;
        top: 40.5%;
        left: 58%;
    } 
    .section-minerals .wrapper .decorations .background-image:nth-child(6){
        background-image: url("../assets/decorations/minerals/info.svg");
        max-width: 143px;
        max-height: 48px;
        width: 7.45vw;
        height: 2.50vw;
        top: 42%;
        left: 62%;
        transform: rotate(-12deg);
    } 
    .section-minerals .wrapper .decorations .background-image:nth-child(7){
        background-image: url("../assets/decorations/minerals/cool artefacts.svg");
        max-width: 244px;
        max-height: 47px;
        width: 12.71vw;
        height: 2.45vw;
        top: 86.3%;
        left: 60%;
    } 
    .section-minerals .wrapper .decorations .background-image:nth-child(8){
        background-image: url("../assets/decorations/minerals/arrow red spiral.svg");
        max-width: 217px;
        max-height: 301px;
        width: 11.30vw;
        height: 15.68vw;
        top:32%;
        transform: rotate(190deg) scaleX(-100%);
        left: 42%;
    } 
    .section-transport .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/transport/arr.svg");
        max-height: 141px;
        max-width: 159px;
        height: 7.34vw;
        width: 8.28vw;
        top:55%;
        left: -12%;
    }
    .section-steal .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/steal/spray\ black.svg");
        max-width: 90px;
        max-height: 90px;
        width: 4.69vw;
        height: 4.69vw;
        top: 41%;
        left: 6%;
        transform: rotate(15deg) scaleX(-100%);
    }
    .section-steal .wrapper .decorations .background-image:nth-child(2) {
        background-image: url("../assets/decorations/steal/arrow\ red.svg");
        max-width: 185px;
        max-height: 155px;
        width: 9.64vw;
        height: 8.07vw;
        transform: rotate(-35deg);
        top: 30%;
        left: 40%;
    }
    .section-token .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/tokens/rect.svg");
        max-width: 376px;
        max-height: 172px;
        width: 19.58vw;
        height: 8.96vw;
        top: 59%;
        left: -8%;
        transform: rotate(-10deg);
    }
    .section-token .wrapper .decorations .background-image:nth-child(1) .chibi-content{
        padding: 0.63vw 2.08vw;
    }
    .section-token .wrapper .decorations .background-image:nth-child(1) .chibi-content .chibi-text{
        font-size: 1.30vw;
    }
    .section-token .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/tokens/arrow down.svg");
        max-width: 113px;
        max-height: 182px;
        width: 5.89vw;
        height: 9.48vw;
        transform: rotate(-20deg);
        top: 40%;
        left: 23%;
    }
    .section-token .wrapper .decorations .background-image:nth-child(3){
        background-image: url("../assets/decorations/tokens/arrow curve.svg");
        width: 9.95vw;
        height: 23.44vw;
        max-width: 191px;
        max-height: 450px;
        transform: rotate(-60deg);
        top: 15%;
        left: 31%;

    }
    .section-token .wrapper .decorations .background-image:nth-child(4){
        background-image: url("../assets/decorations/tokens/rect 1.svg");
        max-width: 325px;
        max-height: 162px;
        width: 16.93vw;
        height: 8.44vw;
        top: 21%;
        left: 28%;
        z-index: 2;

    }
    .section-token .wrapper .decorations .background-image:nth-child(4) .chibi-content .chibi-text{
        font-size: 1.30vw;
    }
    .section-token .wrapper .decorations .background-image:nth-child(4) .chibi-content{
        padding: 0.21vw 0;
    }
    .section-token .wrapper .decorations .background-image:nth-child(5){
        background-image: url("../assets/decorations/tokens/spiral.svg");
        max-width: 79px;
        max-height: 109px;
        width: 4.11vw;
        height: 5.68vw;
        top: 93%;
        left: 52%;
    }
    .section-coming-soon .wrapper .decorations .background-image:nth-child(1){
        background-image: url("../assets/decorations/coming soon/spray black.svg");
        max-width: 78px;
        max-height: 65px;
        width: 4.06vw;
        height: 3.39vw;
        left: 70%;
        top: -12%;
    }
    .section-coming-soon .wrapper .decorations .background-image:nth-child(2){
        background-image: url("../assets/decorations/coming soon/arrow zig zag.svg");
        max-width: 178px;
        max-height: 95px;
        width: 9.27vw;
        height: 4.95vw;
        top:87%;
        left: 20%;
    }  
}