:root{
    --target-width: 1370;
    --base-width: 1920;
    --width-ratio: calc(var(--target-width) / var(--base-width));
}
@media screen and (min-width: 1370px) {
    .section .wrapper .decorations{
        box-sizing: content-box !important;
        flex: 1;
        align-self: center;
    }
    .section .section-title{
        align-self: center;
    }
    .btn{
        padding: calc(4px * var(--width-ratio));
    }
    /*.navbar{*/
    /*    padding:*/
    /*        calc(10px * var(--width-ratio))*/
    /*        0*/
    /*        calc(10px * var(--width-ratio))*/
    /*        0;*/

    /*}*/
    /*.navbar .nav-content .navbar-brand{*/
    /*    flex:*/
    /*            0*/
    /*            0*/
    /*            calc(116px * var(--width-ratio));*/
    /*}*/
    /*.nav-content{*/
    /*    width: calc(1409px * var(--width-ratio));*/
    /*}*/
    /*.logo-wrapper{*/
    /*    margin-left: calc(8px * var(--width-ratio));*/
    /*}*/
    /*.logo-wrapper img{*/
    /*    width: calc(32px * var(--width-ratio));*/
    /*    height: calc(32px * var(--width-ratio));*/
    /*    line-height: calc(32px * var(--width-ratio));*/
    /*}*/
    /*.nav-list-wrapper .nav-list{*/
    /*    width: calc(959px * var(--width-ratio));*/
    /*}*/
    /*.nav-list-wrapper .nav-list .nav-item .list-link{*/
    /*    font-size: calc(22px * var(--width-ratio));*/
    /*}*/
    /*.sign-in-btn{*/
    /*    padding:*/
    /*            calc(6px * var(--width-ratio))*/
    /*            calc(19px * var(--width-ratio));*/
    /*    margin-left: calc(71px * var(--width-ratio));*/
    /*    border-radius: calc(13px * var(--width-ratio));*/
    /*    width: calc(167px * var(--width-ratio));*/
    /*    height: calc(50px * var(--width-ratio));*/
    /*}*/
    /*.sign-in-btn>span{*/
    /*    font-size: calc(18px * var(--width-ratio));*/
    /*    margin:*/
    /*            0*/
    /*            calc(2px * var(--width-ratio));*/
    /*}*/

    .list{
        padding: calc(8px * var(--width-ratio));
        line-height: calc(29px * var(--width-ratio));
    }
    .list-item{
        padding: 
            calc(4px * var(--width-ratio)) 
            calc(8px * var(--width-ratio));
    }
    .chibi-title{
        font-size: calc(54px * var(--width-ratio));
    }
    .chibi-subtitle{
        font-size: calc(36px * var(--width-ratio));
    }
    .chibi-text{
        font-size: calc(28px * var(--width-ratio));
    }
    .head-title{
        font-size: calc(120px * var(--width-ratio));
    }
    .section-title{
        font-size: calc(64px * var(--width-ratio));
    }
    .section-subtitle{
        font-size: calc(20px * var(--width-ratio));
    }
    .section-head{
        padding: 
            calc(89px * var(--width-ratio))
            8.43vw 
            calc(42px * var(--width-ratio))
            16.35vw;
    }
    .section-head .wrapper .download-list{
        padding: calc(16px * var(--width-ratio));
    }
    .section-head .wrapper .presentation .download-list .background-image{
        height: calc(46px * var(--width-ratio));
        width: calc(161px * var(--width-ratio));
    }
    .section-head .wrapper .presentation>.background-image{
        height:  calc(627px * var(--width-ratio));
        width: calc(627px * var(--width-ratio));
    }
    .section-head .wrapper .presentation .download-links .section-subtitle{
        font-size: calc(24px * var(--width-ratio));
    }
    .section-head .wrapper .description>.background-image:nth-child(1){
        /*padding: 30px 0 22px 0;*/
        padding: 
            calc(132px * var(--width-ratio))
            0
            calc(4px * var(--width-ratio))
            0;
        height: calc(915px * var(--width-ratio));
        width: calc(722px * var(--width-ratio));

    }
    .section-academy{
        padding: 
            calc(69px * var(--width-ratio)) 
            0 
            calc(147px * var(--width-ratio))
            0;
    }
    .section-academy .section-title{
        margin: 
            0 
            0 
            calc(64px * var(--width-ratio))
            0;
        padding: 
            0 
            28.45vw;
    }
    .section-academy .wrapper{
        padding: 
            0 
            20.667vw 
            0
            19.583vw;
    }
    .section-academy .section-title{
        width: calc(761px * var(--width-ratio));
        align-self: center;
    }
    .section-academy .wrapper .chibi-block:nth-child(1){
        height: calc(430px * var(--width-ratio));
        width: calc(526px * var(--width-ratio));
        margin: 
            0 
            calc(76px * var(--width-ratio)) 
            0 
            0;
    }

    .section-academy .wrapper .chibi-block:nth-child(2){
        height: calc(515px * var(--width-ratio));
        width: calc(469px * var(--width-ratio));
        margin: 
            0 
            0 
            0 
            calc(76px * var(--width-ratio));
    }
    .section-chibi-category{
        padding: 
            calc(69px * var(--width-ratio))
            0 
            calc(106px * var(--width-ratio))
            0;
    }
    .section-chibi-category .section-title{
        width: calc(873px * var(--width-ratio));
        padding: 
            0 
            27.24vw 
            0 
            27.24vw;
        margin: 
            0 
            0 
            calc(75px * var(--width-ratio))
            0;

    }
    .section-chibi-category .wrapper{
        padding: 
            0 
            12.75vw;
    }
    .section-chibi-category .wrapper .chibi-block{
        margin: 
            0
            calc(10px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1){
        height: calc(260px * var(--width-ratio));
        width: calc(416px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(1) .chibi-content{
        padding: 
            calc(47px * var(--width-ratio)) 
            calc(74px * var(--width-ratio)) 
            calc(44px * var(--width-ratio)) 
            calc(57px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(2){
        height: calc(256px * var(--width-ratio));
        width: calc(471px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(2) .chibi-content{
        padding: 
            calc(57px * var(--width-ratio))
            0 
            0 
            calc(44px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(3){
        width: calc(445px * var(--width-ratio));
        height: calc(273px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .chibi-block:nth-child(3) .chibi-content{
        padding: 
            calc(35px * var(--width-ratio))
            calc(21px * var(--width-ratio))
            calc(19px * var(--width-ratio)) 
            calc(48px * var(--width-ratio))
    }
    .section-chibi-category .section-link{
        font-size: calc(28px * var(--width-ratio));
        margin: 
            calc(67px * var(--width-ratio))
            0 
            0 
            0;
    }
    .section-chibi-characteristics{
        padding: 
            calc(117px * var(--width-ratio))
            0 
            calc(152px * var(--width-ratio))
            0;
    }
    .section-chibi-characteristics .wrapper{
        padding: 0 12.81vw 0 14.79vw;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(2){
        height: calc(828px * var(--width-ratio));
        width: calc(710px * var(--width-ratio));
        padding: 0 0 0 1.1vw;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1){
        width: calc(605px * var(--width-ratio));
        height: calc(836px * var(--width-ratio));
        padding: 
            0 
            calc(21px * var(--width-ratio))
            0 
            0;
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content{
        padding: 
            calc(81px * var(--width-ratio)) 
            0 
            calc(81px * var(--width-ratio))
            calc(87px * var(--width-ratio));
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-title{
        padding: 
            0 
            calc(28px * var(--width-ratio))
            0 
            0;
        width: calc(407px * var(--width-ratio));
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-text{
        margin: 
            calc(12px * var(--width-ratio))
            0 
            0 
            0;
        font-size: calc(28px * var(--width-ratio));
    }
    .section-chibi-characteristics .wrapper .chibi-block:nth-child(1) .chibi-content .chibi-subtitle{
        margin-top: calc(308px * var(--width-ratio));
        font-size: calc(36px * var(--width-ratio));
    }
    .section-battle{
        padding: 
            calc(52px * var(--width-ratio)) 
            0 
            calc(73px * var(--width-ratio))
            0;
    }
    .section-battle .wrapper{
        padding: 
            0 
            16.72vw 
            0 
            17.45vw;
    }
    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block:nth-child(1){
        height: calc(632px * var(--width-ratio));
        width: calc(714px * var(--width-ratio));
        left: calc(85px * var(--width-ratio));
    }
    .section-battle .wrapper>.block-container:nth-child(1) .chibi-block:nth-child(2){
        height: calc(711px * var(--width-ratio));
        width: calc(733px * var(--width-ratio));
        right: calc(85px * var(--width-ratio));
    }
    .section-battle .wrapper>.block-container:nth-child(2){
        margin: 
            calc(176px * var(--width-ratio))
            0;
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1){
        width: calc(454px * var(--width-ratio));
        height: calc(202px * var(--width-ratio));
        margin: 
            0 
            0 
            0 
            calc(169px * var(--width-ratio));
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1) .block-content{
        padding: 
            calc(28px * var(--width-ratio)) 
            calc(25px * var(--width-ratio))
            calc(28px * var(--width-ratio)) 
            calc(36px * var(--width-ratio));
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(2){
        width: calc(362px * var(--width-ratio));
        margin: 
            0 
            calc(361.92px * var(--width-ratio)) 
            0 
            calc(97px * var(--width-ratio));
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(2) .chibi-text{
        font-size:  calc(48px * var(--width-ratio));
        width: calc(365px * var(--width-ratio));
    }
    .section-battle .wrapper>.block-container:nth-child(2) .chibi-block:nth-child(1) .chibi-text{
        font-size: calc(28px * var(--width-ratio));
    }
    .section-artefacts{
        padding: 
            0 
            0 
            calc(182px * var(--width-ratio)) 
            0;
    }
    .section-artefacts .section-title{
        padding: 
            0 
            21vw;
        width: calc(1063px * var(--width-ratio));
    }
    .section-artefacts .wrapper{
        padding: 
            0 
            20.36vw 
            0 
            20.57vw;
        margin: 
            calc(140px * var(--width-ratio))
            0 
            0 
            0;
    }
    .section-artefacts .wrapper .block-container{
        margin: 
            calc(38px * var(--width-ratio)) 
            0 
            0 
            0;
    }
    .section-artefacts .wrapper .block-container .chibi-block:nth-child(1){
        height: calc(448px * var(--width-ratio));
        width: calc(477px * var(--width-ratio));
        margin: 
            0 
            calc(107px * var(--width-ratio)) 
            0 
            0;
    }
    .section-artefacts .wrapper .block-container .chibi-block:nth-child(2){
        height: calc(488px * var(--width-ratio));
        width: calc(467px * var(--width-ratio));
        margin: 
            0 
            0 
            0 
            calc(107px * var(--width-ratio));
    }
    .section-artefacts .wrapper .block-container .chibi-block .chibi-content{
        padding-top: calc(98px * var(--width-ratio));
    }
    .section-artefacts .wrapper .block-container .chibi-block .chibi-name{
        font-size: calc(48px * var(--width-ratio));
    }
    .section-use-radar{
        padding: 
            calc(140px * var(--width-ratio))
            0 
            calc(60px * var(--width-ratio))  
            0;
    }
    .section-use-radar .wrapper{
        padding: 
            0
            16.01vw 
            0
            15.28vw;
    }
    .section-use-radar .wrapper .block-container>.chibi-block {
        width: calc(745px * var(--width-ratio));
        height: calc(640px * var(--width-ratio));
    }
    .section-use-radar .wrapper .block-container>.chibi-block .chibi-content{
        padding: 
            calc(201px * var(--width-ratio))
            calc(143px * var(--width-ratio)) 
            0 
            calc(64px * var(--width-ratio));
    }
    .section-use-radar .wrapper .block-container>.chibi-block .chibi-content .chibi-title{
        margin: 
            0 
            0 
            calc(16px * var(--width-ratio))
            0;
    }
    .section-use-radar .wrapper>.block-container>.block-container .background-image:nth-child(1){
        width: calc(240px * var(--width-ratio));
        height: calc(228px * var(--width-ratio));
        margin: 
            0 
            0 
            calc(34px * var(--width-ratio)) 
            0;
        left: calc(96px * var(--width-ratio));
    }
    .section-use-radar .wrapper>.block-container>.block-container .background-image:nth-child(2){
        width: calc(430px * var(--width-ratio));
        height: calc(430px * var(--width-ratio));
    }
    .section-use-radar .wrapper>.background-image{
        width: calc(468px * var(--width-ratio));
        height: calc(953px * var(--width-ratio));
    }
    .section-minerals{
        padding: 
            calc(102px * var(--width-ratio)) 
            0 
            calc(143px * var(--width-ratio))
            0;
    }
    .section-minerals .section-title{
        padding: 
            0 
            28.80vw 
            0 
            28.02vw;
        width: calc(828px * var(--width-ratio));
    }
    .section-minerals .wrapper{
        padding: 
            0 
            12.24vw 
            0 
            14.06vw;
        margin: 
            calc(145px * var(--width-ratio))
            0 
            0 
            0;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(1){
        width: calc(716px * var(--width-ratio));
        height: calc(372px * var(--width-ratio));
        left: calc(90px * var(--width-ratio));
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2){
        width: calc(564px * var(--width-ratio));
        height: calc(849px * var(--width-ratio));
        margin: 
            calc(156px * var(--width-ratio)) 
            0 
            0 
            0;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content{
        padding: 
            calc(43px * var(--width-ratio))
            calc(64px * var(--width-ratio))
            calc(43px * var(--width-ratio))
            calc(77px * var(--width-ratio))
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content .chibi-text:nth-child(2){
        margin: 
            calc(436px * var(--width-ratio)) 
            0 
            0 
            0;
    }
    .section-minerals .wrapper .block-container:nth-child(1) .chibi-block:nth-child(2) .chibi-content .chibi-text:nth-child(3){
        margin: 
            calc(26px * var(--width-ratio))
            0 
            0 
            calc(59px * var(--width-ratio));
    }
    .section-minerals .wrapper .block-container:nth-child(2){
        margin-top: calc(158px * var(--width-ratio));
    }
    .section-minerals .wrapper .block-container:nth-child(2) .chibi-block:nth-child(1){
        height: calc(418px * var(--width-ratio));
        width: calc(651px * var(--width-ratio));
        left: calc(100px * var(--width-ratio));
    }
    .section-minerals .wrapper .block-container:nth-child(2) .chibi-block:nth-child(2) {
        height: calc(503px * var(--width-ratio));
        width: calc(635px * var(--width-ratio));
        right: calc(47px * var(--width-ratio));
        margin: 
            calc(220px * var(--width-ratio))
            0 
            0 
            0;
    }
    .section-transport{
        padding: 
            calc(140px * var(--width-ratio)) 
            0
            calc(100px * var(--width-ratio))
            0;
    }
    .section-transport .wrapper{
        padding: 0 14.67vw 0 19.88vw;
    }
    .section-transport .wrapper>.background-image {
        width: calc(509px * var(--width-ratio));
        height: calc(1045px * var(--width-ratio));
    }
    .section-transport .wrapper .block-container .chibi-block{
        height: calc(655px * var(--width-ratio));
        width: calc(664px * var(--width-ratio));
        margin: 
            0 
            0 
            0 
            calc(43px * var(--width-ratio));
    }
    .section-transport .wrapper .block-container .section-title{
        width: calc(576px * var(--width-ratio));
        margin: 
            calc(43px * var(--width-ratio)) 
            0 
            0 
            calc(112px * var(--width-ratio));
        font-size: calc(64px * var(--width-ratio));
    }
    .section-steal{
        padding: 
            calc(146px * var(--width-ratio)) 
            0 
            0 
            0;
    }
    .section-steal .wrapper .block-container .chibi-block:nth-child(1){
        height: calc(305px * var(--width-ratio));
        width: calc(700px * var(--width-ratio));
        margin:
            calc(128px * var(--width-ratio))
            0 
            0 
            0;
    }
    .section-steal .wrapper .block-container .background-image:nth-child(2){
        width: calc(631px * var(--width-ratio));
        height: calc(580px * var(--width-ratio));
        top: calc(-81px * var(--width-ratio))
    }
    .section-steal .wrapper .block-container .chibi-block .chibi-content{
        padding: 
            calc(38px * var(--width-ratio)) 
            calc(47px * var(--width-ratio))
            calc(47px * var(--width-ratio)) 
            calc(47px * var(--width-ratio));
    }
    .section-steal .wrapper .block-container .chibi-block .chibi-title{
        font-size: calc(54px * var(--width-ratio));
    }
    .section-steal .wrapper > .chibi-block{
        height: calc(776px * var(--width-ratio));
        width: calc(601px * var(--width-ratio));
        margin: 
            0 
            0 
            0 
            calc(65px * var(--width-ratio));
    }
    .section-steal .wrapper > .chibi-block .chibi-content{
        padding: 
            calc(200px * var(--width-ratio))
            calc(72px * var(--width-ratio))
            calc(65px * var(--width-ratio)) 
            calc(76px * var(--width-ratio));
    }
    .section-steal .wrapper > .chibi-block .chibi-content .chibi-text{
        font-size:  calc(32px * var(--width-ratio));
    }
    .section-token{
        padding: 
            calc(49px * var(--width-ratio))
            0 
            calc(73px * var(--width-ratio))
            0;
    }
    .section-token .wrapper{
        padding: 
            0 
            10.77vw 
            0 
            9vw;
    }
    .section-token .wrapper .block-container > .block-container{
        margin: 
            0 
            calc(40px * var(--width-ratio))
            0 
            0;
    }
    .section-token .wrapper .block-container .section-title{
        padding: 
            0
            calc(242px * var(--width-ratio))
            0
            calc(100px * var(--width-ratio));
        margin: 
            0 
            0 
            calc(18px * var(--width-ratio)) 
            0;
        width: calc(656px * var(--width-ratio));
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(1){
        width: calc(431px * var(--width-ratio));
        height: calc(431px * var(--width-ratio));
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2){
        width: calc(464px * var(--width-ratio));
        height: calc(449px * var(--width-ratio));
        margin: 
            calc(586px * var(--width-ratio)) 
            0 
            0 
            0;
    }
    .section-token .wrapper .block-container .block-container .background-image:nth-child(2) .chibi-content{
        margin: 
            calc(461px * var(--width-ratio))
            0 
            0 
            0;
    }
    .section-token .wrapper>.background-image{
        height: calc(1065px * var(--width-ratio)) !important;
        width: calc(509px * var(--width-ratio)) !important;
    }
    .section-coming-soon{
        padding: 
            159px 
            10vw;
    }
    .section-coming-soon .wrapper{
        justify-content: center;
    }
    .section-coming-soon .section-title{
        font-size: calc(64px * var(--width-ratio));
        padding: 0;
        width: calc(624px * var(--width-ratio));
    }
    /*.footer-container{*/
    /*    margin:*/
    /*            calc(99px * var(--width-ratio))*/
    /*            0*/
    /*            calc(99px * var(--width-ratio))*/
    /*            calc(47px * var(--width-ratio));*/
    /*    width: calc(1452px * var(--width-ratio));*/
    /*}*/
    /*.footer-container .logo-wrapper{*/
    /*    flex:*/
    /*            0*/
    /*            0*/
    /*            calc(291px * var(--width-ratio));*/
    /*}*/
    /*.footer-container .footer-list{*/
    /*    flex:*/
    /*            0*/
    /*            0*/
    /*            calc(376px * var(--width-ratio));*/
    /*}*/

    /*.footer-list>.list-item>.list-link{*/
    /*    font-size: calc(19px * var(--width-ratio));*/
    /*    line-height: calc(34px * var(--width-ratio));*/
    /*}*/

    /*.footer-container .logo-wrapper img{*/
    /*    width: calc(32px * var(--width-ratio));*/
    /*    height: calc(32px * var(--width-ratio));*/
    /*}*/
    /*.all-rights{*/
    /*    width: calc(109px * var(--width-ratio));*/
    /*    flex:*/
    /*            0*/
    /*            0*/
    /*            calc(409px * var(--width-ratio));*/
    /*}*/
    /*.all-rights .right{*/
    /*    font-size: calc(16px * var(--width-ratio));*/
    /*}*/
    .section-head .wrapper .presentation .decorations .background-image:nth-child(1){
        width: calc(169px * var(--width-ratio));
        height: calc(75px * var(--width-ratio));
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(2){
        width: calc(73px * var(--width-ratio));
        height: calc(66px * var(--width-ratio));
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(3){
        height: calc(24px * var(--width-ratio));
        width: calc(38px * var(--width-ratio));
    }
    .section-head .wrapper .presentation .decorations .background-image:nth-child(4) {
        height: calc(58px * var(--width-ratio));
        width: calc(67px * var(--width-ratio));
    }
    /* new */
    .section-head .wrapper .presentation .decorations .background-image:nth-child(5){
        height: calc(182px * var(--width-ratio));
        width: calc(206px * var(--width-ratio));
    }

    .section-head .wrapper .description .decorations .background-image:nth-child(1){
        height: calc(156px * var(--width-ratio));
        width: calc(156px * var(--width-ratio));
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(2){
        height: calc(103px * var(--width-ratio));
        width: calc(158px * var(--width-ratio));
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(3){
        height: calc(38px * var(--width-ratio));
        width: calc(48px * var(--width-ratio));
    }
    .section-head .wrapper .description .decorations .background-image:nth-child(4){
        height: calc(100px * var(--width-ratio));
        width: calc(100px * var(--width-ratio));
    }
    .section-head .wrapper .description .decorations .flying-text{
        font-size: calc(36px * var(--width-ratio));
    }
    .section-academy .wrapper .decorations .background-image:nth-child(1){
        height: calc(288px * var(--width-ratio));
        width: calc(288px * var(--width-ratio));
    }
    .section-academy .wrapper .decorations .background-image:nth-child(2){
        width: calc(85px * var(--width-ratio));
        height: calc(56px * var(--width-ratio));
    }
    .section-academy .wrapper .decorations .background-image:nth-child(3){
        width: calc(108px * var(--width-ratio));
        height: calc(88px * var(--width-ratio));
    }
    .section-academy .wrapper .decorations .background-image:nth-child(4){
        width: calc(110px * var(--width-ratio));
        height: calc(94px * var(--width-ratio));
    }
    /* new */
    .section-academy .wrapper .decorations .background-image:nth-child(5){
        width: calc(237px * var(--width-ratio));
        height: calc(209px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .decorations .background-image:nth-child(1){
        width: calc(157px * var(--width-ratio));
        height: calc(70px * var(--width-ratio));
    }
    .section-chibi-category .wrapper .decorations .background-image:nth-child(2){
        width: calc(157px * var(--width-ratio));
        height: calc(70px * var(--width-ratio));
    }
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(1){
        height: calc(117px * var(--width-ratio));
        width: calc(89px * var(--width-ratio));
    }
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(2){
        width: calc(84px * var(--width-ratio));
        height: calc(120px * var(--width-ratio));
    }
    /* new */
    .section-chibi-characteristics .wrapper .decorations .background-image:nth-child(3){
        height: calc(186px * var(--width-ratio));
        width: calc(219px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(1){
        width: calc(222px * var(--width-ratio));
        height: calc(159px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(2){
        width: calc(230px * var(--width-ratio));
        height: calc(152px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(3){
        width: calc(240px * var(--width-ratio));
        height: calc(162px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(4){
        width: calc(176px * var(--width-ratio));
        height: calc(66px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(5){
        width: calc(176px * var(--width-ratio));
        height: calc(66px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(6){
        height: calc(421px * var(--width-ratio));
        width: calc(309px * var(--width-ratio));
    }
    .section-battle .wrapper .decorations .background-image:nth-child(7){
        width: calc(176px * var(--width-ratio));
        height: calc(78px * var(--width-ratio));
    }
    /* new */
    .section-battle .wrapper .decorations .background-image:nth-child(8){
        width: calc(443px * var(--width-ratio));
        height: calc(78px * var(--width-ratio));
    }
    /* new */
    .section-battle .wrapper .decorations .background-image:nth-child(9){
        width: calc(226px * var(--width-ratio));
        height: calc(226px * var(--width-ratio));
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(1){
        height: calc(115px * var(--width-ratio));
        width: calc(205px * var(--width-ratio));
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(2){
        height: calc(115px * var(--width-ratio));
        width: calc(205px * var(--width-ratio));
    }
    .section-artefacts .wrapper .decorations .background-image:nth-child(3){
        height: calc(102px * var(--width-ratio));
        width: calc(102px * var(--width-ratio));
    }
    /* new */
    .section-artefacts .wrapper .decorations .background-image:nth-child(4){
        height: calc(366px * var(--width-ratio));
        width: calc(254px * var(--width-ratio));
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(1){
        width: calc(47px * var(--width-ratio));
        height: calc(73px * var(--width-ratio));
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(2){
        width: calc(133px * var(--width-ratio));
        height: calc(158px * var(--width-ratio));
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(3){
        width: calc(110px * var(--width-ratio));
        height: calc(110px * var(--width-ratio));
    }
    .section-use-radar .wrapper .decorations .background-image:nth-child(4){
        width: calc(87px * var(--width-ratio));
        height: calc(87px * var(--width-ratio));
    }
    /* new */
    .section-use-radar .wrapper .decorations .background-image:nth-child(5){
        width: calc(190px * var(--width-ratio));
        height: calc(192px * var(--width-ratio));
    }

    .section-minerals .wrapper .decorations .background-image:nth-child(1){
        width: calc(378px * var(--width-ratio));
        height: calc(162px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(1) .chibi-content{
        padding:
                calc(2px * var(--width-ratio))
                calc(34px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(1) .chibi-text{
        font-size: calc(28px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .chibi-block:nth-child(1) .chibi-text{
        padding:
                calc(26px * var(--width-ratio))
                calc(32px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(2){
        height: calc(123px * var(--width-ratio));
        width: calc(123px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(3){
        width: calc(143px * var(--width-ratio));
        height: calc(48px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(4){
        width: calc(90px * var(--width-ratio));
        height: calc(109px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(5){
        width: calc(250px * var(--width-ratio));
        height: calc(267px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(6){
        width: calc(143px * var(--width-ratio));
        height: calc(48px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(7){
        width: calc(244px * var(--width-ratio));
        height: calc(47px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(8){
        width: calc(217px * var(--width-ratio));
        height: calc(301px * var(--width-ratio));
    }
    .section-minerals .wrapper .decorations .background-image:nth-child(9){
        width: calc(198px * var(--width-ratio));
        height: calc(282px * var(--width-ratio));
    }
    .section-transport .wrapper .decorations .background-image:nth-child(1){
        height: calc(141px * var(--width-ratio));
        width: calc(159px * var(--width-ratio));
    }
    .section-steal .wrapper .decorations .background-image:nth-child(1){
        width: calc(90px * var(--width-ratio));
        height: calc(90px * var(--width-ratio));
    }
    .section-steal .wrapper .decorations .background-image:nth-child(2) {
        width: calc(185px * var(--width-ratio));
        height: calc(155px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(1){
        width: calc(376px * var(--width-ratio));
        height: calc(172px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(1) .chibi-content{
        padding:
                calc(12px * var(--width-ratio))
                calc(40px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(1) .chibi-content .chibi-text{
        font-size: calc(25px * var(--width-ratio));
        padding:
                calc(16px * var(--width-ratio))
                calc(26px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(2){
        width: calc(113px * var(--width-ratio));
        height: calc(182px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(3){
        width: calc(191px * var(--width-ratio));
        height: calc(450px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(4){
        width: calc(325px * var(--width-ratio));
        height: calc(162px * var(--width-ratio));

    }
    .section-token .wrapper .decorations .background-image:nth-child(4) .chibi-content .chibi-text{
        font-size: calc(25px * var(--width-ratio));
        padding:
                calc(12px * var(--width-ratio))
                calc(24px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(4) .chibi-content{
        padding:
                calc(4px * var(--width-ratio))
                0;
    }
    .section-token .wrapper .decorations .background-image:nth-child(5){
        width: calc(79px * var(--width-ratio));
        height: calc(109px * var(--width-ratio));
    }
    .section-token .wrapper .decorations .background-image:nth-child(6){
        width: calc(65px * var(--width-ratio));
        height: calc(53px * var(--width-ratio));
    }
    .section-coming-soon .wrapper .decorations .background-image:nth-child(1){
        width: calc(78px * var(--width-ratio));
        height: calc(65px * var(--width-ratio));
        left: 93%;
        top: -12%;
    }
    .section-coming-soon .wrapper .decorations .background-image:nth-child(2){
        width: calc(178px * var(--width-ratio));
        height: calc(95px * var(--width-ratio));
        top:80%;
        left: -18%;
    }
}